.ideas {
    margin-top: 23%;
    margin-bottom: 23%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(179.88deg, #181D32 0.1%, #795DE7 195.3%);
    /* padding-bottom: 10%; */

}