/* .import_Pform{
    display: flex;
    position: absolute;
    color: rgba(121, 93, 231, 0.55);
    font-weight: 700;
    font-size: 20px ;
    width: 50%;
    align-items: center;
    margin-top: -38%;
    margin-left: 25%;
    margin-right: auto;
} */

.imgInput {
    display: flex;
    color: transparent;
    text-align: center;
    align-items: center;
    width: 99.5vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(121, 93, 231, 0.15);
    border: 1px solid #795DE7;
}

.imgInput::-webkit-file-upload-button {
    visibility: hidden;
}

.imgInput::before{
    content : "";
    color: black;
    display: inline-block;
    text-align: center;
    height: 30vh;
    width: 100%;
}

.imgInput:active::before {
    background: rgba(146, 127, 221, 0.15);
}

.img_preview{
    width: 100%;
    height: 33vh;
    position: absolute;
    object-fit: cover;
    margin-top: -71%;
}

.cancel_img_preview{
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: -69%;
    margin-left: 90%;
}
