.CreateProject {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin-top: 23%;
    margin-bottom: 18%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(179.88deg, #181D32 0.1%, #795DE7 195.3%);
}

.project_form {
    width: 100vw;
}

.head_Pform {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

.title_Pform {
    font-weight: 600;
}

.cancel_Pform{
    display: flex;
    font-size: 10px;
    align-items: center;
    width: 15%;
    width: auto;
    margin-right: 5px;
}

.link_list {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    align-items: center;
}

.head_Pform img {
    width: 11px;
    height : 11px;
}

.file_Pform {
    margin-top: 2%;
    height: 32vh;
    width: 100vw;
}

.fileUp {
    margin-bottom: 5%;
}

.import_Pform{
    display: flex;
    position: absolute;
    color: rgba(121, 93, 231, 0.55);
    font-weight: 700;
    font-size: 20px ;
    width: 50%;
    align-items: center;
    margin-top: -38%;
    margin-left: 25%;
    margin-right: auto;
}

.preview_container{
    width: 100%;
}

.image_preview {
    height: 30vh;
    width: 100%;
    border: 1px solid black;
    object-fit: cover;
    opacity: 0.9;
    position: relative;
}

#fil-upload-button {
    color: white;
}

.uploadBtn{
    background-color: #795DE7;
    color: white;
    border-style: none;
    padding: 2%;
    border-radius: 5px;
}

.select, textarea{
    color: white;
}

.project_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.container_Pform{
    color: white;
    width: 95%;
}

.input_label_Pform{
    display: flex;
    flex-direction: column;
}

.label_Pform {
    font-size: 12px;
    color: white;
    margin-top: 5%;
    font-weight: 600;
    margin-bottom: 2px;
}

.input_Pform{
    width: 100%;
    height: 3.7vh;
    background-color: #795DE7;
    color: white;
    border-radius: 5px;
    border-style: none;
}

.desc_Pform{
    border-radius: 5px;
    background-color: #795DE7;
    height: 20vh;
    border-style: none;
}

.submitBtn_Pform {
    margin-top: 7%;
    margin-bottom: 5%;
    width: 50%;
    height: 3.7vh;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: #795DE7;
    border-style: none;
}
