@media screen and (max-width: 767px) {
    /* .buttoms_home{
        padding-bottom: 10vh;
    } a revoir selon remplissage*/
    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pepidea {
        margin-bottom: 5vh;
        color: var(--second-color);
    }
    
    .quote {
        margin-bottom: 5vh;
        color: var(--second-color);
    }

    .presentation {
        margin-bottom: 10vh;
        color: var(--second-color);
        text-align: center;
    }
}