.idea_card_container {
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 5%;
}  
.idea_header {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
.idea_content {
    display: flex;
    justify-content: center;
    padding-left: 2%;
    height: 100%;
}

.idea_icons {
    background: #795DE7;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    
}
.left_icons {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-between;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment_form {
    margin-top: 1%;
    border-radius: 10px;
}
.coms {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 2%;
    color: white;
}