.ProjectsCard{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    height : 35vh;
    margin: 5px;
    border: 1px solid #394955;
    border-radius: 10px ;
}

.img_container{
    height: 60%;
    width: 100%;
}

.project_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
    border-radius : 10px 10px 0 0;
}

.project_info{
    display: flex;
    height: 30%;
    border-bottom: 1px solid #227FBA;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.project_titles {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
    font-size :0.9em;
    border-right: 1px solid #227FBA;
    list-style: none;
}

.project_titles li{
    padding: 5px;
    margin-left: -10%;
    margin-right: 0;
}

.short_desc_project {
    margin: auto;
}

.short_desc_project p {
    padding: auto;
    font-size :0.66em;
    max-height: 56px;
    max-width: 225px;
    overflow: hidden;
}

.project_icons{
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    color: #227FBA;
}