.ProjectsCard{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.img_container{
    height: 60%;
    width: 100%;
}

.project_img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
    position: relative;
}

.arrow_to_details {
    position : absolute;
    font-size: 1.5em;
    color: white;
    margin-left : 85%;
    margin-top: -12%;
}

.project_icons{
    display: flex;
    flex-direction: row;
    margin: 5px;
    width: 93%;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    color: #227FBA;
}

.left_project_icons{
    width: auto;
    display: flex;
    justify-content: space-between;
}

.right_project_icons{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.claps_counter{
    color: #795DE7;
    font-weight: 600;
    font-size: 12px;
    margin-right: 8px;
}

.heartIcons{
    margin: auto;
    height: 15px;
    width: 15px;
}

.contributors_count{
    color: white;
    font-weight: 600;
    font-size: 12px;
    margin-right: 10px;
}

.project_info{
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.project_titles {
    display: flex;
    width: 100%;
    font-size :12px;
    font-weight: 600;
    list-style: none;
    justify-content: space-between;
}

.user_pseudo{
    color: #795DE7;
}

.project_titles li{
    padding: 5px;
}

.short_desc_project {
    margin: 5px;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    max-height: 62px ;
    overflow: hidden;
}

.show_more{
    color: #795DE7;
    font-size: 8px;
    font-weight: 400;
    margin-left: 5px;
    margin-top: 1%;
}