@media screen and (max-width : 767px) { 

    .connectfooter{
    
    margin-top: auto;  
    display: flex;
    position: fixed;
    top: 0;
    background-color: gray;
    height: 10vh;	
    padding-right: 100%;
    }

    .button_welcome{
    margin-left: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(255, 255, 255); 
    font-size: 12px; 
    line-height: 11px; 
    padding: 20px; 
    border-radius: 50px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal;
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(49, 55, 59) 0%, rgb(36, 38, 39) 50%, rgb(94, 95, 95) 100%);
    box-shadow: rgb(143, 142, 142) 5px 5px 15px 5px; 
    border: 2px solid rgb(209, 207, 207); 
    display: inline-block;}
            
    .myButton:hover {
    background: #000000; 
    }
            
    .myButton:active {
    background: #070707;   
    }

    .img_logo{
    height: 50px;
    width: 50px;
    margin-left: 22vh;
    margin-top: 2vh;
    }

}