@media screen and (max-width : 767px) {     .IdeasFooter{
    margin-top: auto;  
    display: flex;
    position: fixed;
    top: 0;
    background-color: gray;
    height: 10vh;
    width: 100vw;
    }
  
.button_welcome_subscribe{
    margin-left: 3%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(255, 255, 255); 
    font-size: 12px; 
    line-height: 11px; 
    padding: 25px; 
    border-radius: 11px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal;
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(49, 55, 59) 0%, rgb(36, 38, 39) 50%, rgb(94, 95, 95) 100%);
    box-shadow: rgb(143, 142, 142) 5px 5px 15px 5px; 
    border: 2px solid rgb(209, 207, 207); 
    display: inline-block;
    }
        
.myButton:hover {
    background: #000000; 
    }
        
.myButton:active {
    background: #070707;   
    }
    
.button_idee_ideas_footer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8%;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-size: 12px; 
    line-height: 11px; 
    padding: 25px; 
    border-radius: 11px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(49, 55, 59) 0%, rgb(36, 38, 39) 50%, rgb(94, 95, 95) 100%);
    box-shadow: rgb(143, 142, 142) 5px 5px 15px 5px; 
    border: 2px solid rgb(209, 207, 207); 
    display: inline-block;
    }
            
.myButton:hover {
    background: #000000; 
    }
            
.myButton:active {
    background: #070707;   
    }
        
.button_welcome:hover{
    background-color : rgb(4, 178, 246);
    }

.button_inscription_ideas_footer{
    margin-top:0.5vh;
    margin-bottom: 1vh;
    margin-left:30%;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-size: 12px; 
    line-height: 11px; 
    padding: 8px; 
    border-radius: 11px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(49, 55, 59) 0%, rgb(36, 38, 39) 50%, rgb(94, 95, 95) 100%);
    box-shadow: rgb(143, 142, 142) 5px 5px 15px 5px; 
    border: 2px solid rgb(209, 207, 207); 
    display: inline-block;
    }
        
.myButton:hover {
    background: #000000; 
    }
            
.myButton:active {
    background: #070707;   
    }
    
.button_welcome:hover{
    background-color : rgb(4, 178, 246);
    }
    
.button_connection_ideas_footer{
    margin-bottom: 1vh;
    margin-left:30%;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-size: 12px; 
    line-height: 11px; 
    padding: 8px; 
    border-radius: 11px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(49, 55, 59) 0%, rgb(36, 38, 39) 50%, rgb(94, 95, 95) 100%);
    box-shadow: rgb(143, 142, 142) 5px 5px 15px 5px; 
    border: 2px solid rgb(209, 207, 207); 
    display: inline-block;
    }
            
.myButton:hover {
    background: #000000; 
    }
    
.myButton:active {
    background: #070707; 
    }
           
.connection{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;      
    }
    
.pseudo{
    background-color: rgb(199, 199, 199);
    font-size: 10.5px;     
    }
    
.password{
    background-color: rgb(199, 199, 199);
    font-size: 10.5px;
    margin-bottom: 5px;
    }
    
}