@media screen and (max-width : 767px) { 


.subscribeHeader{
    display: flex;
 flex-direction: row;
    position: absolute;
    top: 0;
    margin-top:120px ;
    height: 100vh;
    align-items: center;
    
    
    }

/* 


.button_connection_subscribe{
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 20px;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  
    color: #FFFFFF;
    text-decoration: none;
    }
  
    .button_inscription_subscribe{
        margin-top: 20px;
        margin-bottom: auto;
        margin-left: -170px;
        margin-right:10px;
        text-align: center;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
      
        color: #FFFFFF;
        text-decoration: none;
        }
         */

         /* .subscribeHeader{
            height: 100vh;
            display: flex;
           flex-direction: row;
            align-items: center;
          } */
  
          button.modal-toggle,
          input[type="submit"] {
              
            background-color: rgb(61, 45, 48);
            cursor: pointer;
            font-size: 52px;
            color: rgb(255, 253, 253);
            padding: 1rem 2rem;
           
            border: none;
          }
  
          button.modal-toggle:not(:first-child) {
            margin-left: 10px;
          }
  
          .form-group {
            margin-top: 10px;
          }
  
          input[type="text"],
          input[type="password"],
          input[type="email"] {
            box-sizing: border-box;
            width: 100%;
            padding: 0.5rem 0.7rem;
          }
  


}