.pepidea_signup{
    text-align: center;
    margin-top: 15vh;
}
.background_signup{
    background-size: cover;
  position: absolute;
  background: linear-gradient(179.88deg,#181D32 0.1%, #795DE7 195.3%) no-repeat center fixed;
}
.form_signup{
    position: relative;
    flex-direction: column;
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40%;
}

.pseudo_signup{
    position: relative;
   background-color: rgb(211, 212, 212);
    padding: 1vh;
    margin-bottom: 1vh;
}

.email_signup{
    position: relative;
    background-color: rgb(211, 212, 212);
    padding: 1vh;
    margin-bottom: 1vh;
}

.phone_signup{
    position: relative;
    background-color: rgb(211, 212, 212);
    padding: 1vh;
    margin-bottom: 1vh;
}

.password_signup{
    position: relative;
    background-color: rgb(211, 212, 212);
    padding: 1vh;
    margin-bottom: 2vh;
}

.button_submit{
    position: relative;
    margin-left: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(255, 255, 255); 
    font-size: 20px; 
    line-height: 11px; 
    padding: 20px; 
    border-radius: 50px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal;
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(49, 55, 59) 0%, rgb(36, 38, 39) 50%, rgb(94, 95, 95) 100%);
    box-shadow: rgb(143, 142, 142) 5px 5px 15px 5px; 
    border: 2px solid rgb(209, 207, 207); 
    display: inline-block;
    margin-bottom: 5vh;}
            
.myButton:hover {
    position: relative;
    background: #000000; 
    }
            
.myButton:active {
    position: relative;
    background: #070707;   
    }

.sentence_no_account{
    position: relative;
    display: flex;
    font-size: 2vh; 
    text-align: center;
    justify-content: center;
    }

.button_welcome_signup{
    position: relative;
    bottom: 0;
    margin-left: 15vh;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(255, 255, 255); 
    font-size: 20px; 
    line-height: 11px; 
    padding: 20px; 
    border-radius: 50px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal;
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(49, 55, 59) 0%, rgb(36, 38, 39) 50%, rgb(94, 95, 95) 100%);
    box-shadow: rgb(143, 142, 142) 5px 5px 15px 5px; 
    border: 2px solid rgb(209, 207, 207); 
    display: inline-block;
    margin-bottom: 5vh;}
                
.myButton:hover {
    position: relative;
    background: #000000; 
    }
                
.myButton:active {
    position: relative;
    background: #070707;   
    }